// Breakpoints
$bp-mobile: 480px;  
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1500px;

// Tipografía
$primary-font: "Space Grotesk", serif;


// Tamaño de contenedor
$max-width-container: 1350px;

// Colores
$color-background-html: #151515;
$color-principal: #FFFFFF;
$color-navbar_options: #ABABAB;
$color-negro: #151515;
$color-negro-claro: #242424;
$color-naranja-apagado: #D5966C;
$color-gris-oscuro: #444444;
$text-color: #333;

